
*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: teal;
    margin: 0;
    padding: 0;
}
body{

    overflow: hidden;
}
#victory{
    display: none;
}
#game-over{
    display: none;
}
#btn-reload{
    margin-top: 80px;
    display: none;
    padding: 20px;
    background: #008080;
    border: 2px rgb(0, 77, 77) solid;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
.img{
    min-width: 400px;
    height:500px;
    border: 30px teal solid;
    padding: 10px;
    border-radius: 70px;
    padding-bottom: 60px;
    position: relative;
}
#used {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50% );font-size: 3rem;
}
.contain{
    display: flex;
    justify-content: space-around;
    padding: 30px 100px 0 100px;
}
.final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
height:100%;

}
h1{
  text-align: center;
  color: white;
}
.title{
    background: teal;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-main{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: center;
height: 500px;
}
#word-to-find{
    font-size: 7rem;
}
.tofind{
    font-size: 3rem;
}

